* {
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

section {
    width: 80%;
    margin: auto;
    background-color: rgb(35, 40, 77);
    padding: 2rem 1rem;
    color: white;
}

section h1 {
    font-size: 2rem;
}

section h1,
#sec-p {
    text-align: center;
    margin: 2rem 0rem;
}

#sec-p {
    padding: 0 2rem;
    font-size: 1.1rem;
}

#error-msg {
    margin: 1rem;
    font-size: 1.1rem;
}

#container {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
}

#container label {
    font-size: 1.2rem;
}

#container input {
    width:50%;
    margin:auto;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.4rem;
}

#container button {
    padding: 0.5rem 1rem;
    width: 100px;
    margin: auto;
    cursor: pointer;
    border: none;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
}

#container button:hover {
    font-weight: bold;
}

/* table */
table caption {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

table,
td,
th {
    border: 2px solid black;
    padding: 0.4rem;
}

table {
    margin: auto;
    width: 50%;
    border-collapse: collapse;
    margin-bottom:3rem;
}

.no-of-notes{
    background-color: white;
    color:rgb(35, 40, 77);
    font-weight: bold;
}
.head1, .head2, .second-row td{
    background-color: rgb(90, 96, 145);
}