* {
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right, rgb(170, 66, 53) ,rgb(37, 112, 53))
}
#section {
    max-width:700px;
    margin:auto;
    padding: 2rem;
    color: white;
}
#section #container{
    display: flex;
    flex-direction: column;
}
#section h1 {
    font-size: 2.5rem;
}
#section h1,
.sec-p {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}
.sec-p {
    padding: 0 1rem;
    font-size: 1.2rem;
}
#container label {
    font-size: 1.2rem;
}
#container input {
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.4rem;
}
#container button {
    padding: 0.5rem 1rem;
    width: 100px;
    margin: auto;
    cursor: pointer;
    border: none;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
}
#container button:hover {
    font-weight: bold;
}
/* table */
table caption {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
table,
td,
th {
    border: 2px solid black;
    padding: 0.4rem;
}
table {
    width: 100%;
    margin:auto;
    border-collapse: collapse;
}
.no-of-notes{
    background-color: white;
    color:rgb(35, 40, 77);
    font-weight: bold;
}
